.block
    display: flex
    flex-wrap: wrap
    
    p
        display: inline-block
        background: grey
        
        &:hover
            color: green
    
    &:hover
        color: red