ol(type="I")
  li
    | Препроцессоры HTML
    ul(type="disc")
      li
        a(href="#") Haml
      li Pug
  li
    | Препроцессоры CSS
    ul(type="circle")
      li SASS
      li Stylus