.pict {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.pict a img {
    display: block;
    height: auto;
}

.pict a.big img {
    transform: scale(1.2);
}

@media (max-width: 1000px) {
    .pict {
        flex-wrap: wrap;
        justify-content: center;
    }

    .pict a.big img {
        transform: scale(1);
    }
}

@media (max-width: 700px) {
    .pict {
        flex-direction: column;
        align-items: center;
    }
}
