- var items = [{name:'ручка',price:30.50},{name:'карандаш',price:50.00},{name:'альбом',price:156.00},{name:'тетрадь',price:21.50},{name:'ластик',price:10.20}]

table(border="1")
  tr
    th Товар
    th Цена
  each item in items
    tr
      td= item.name
      td= item.price
